/* Mobile first development */

.container{
  margin-bottom: 14rem;
}

.main{
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/** Breakpoints
sm: min-width: 640px;
md: min-width: 768px;
lg: min-width: 1024px;
xl: min-width: 1280px;
2xl: min-width: 1536px;
**/

@media (min-width: 640){
  .container{
    padding-left: 1em;
    padding-right: 1em;
  }
  .main{
    margin-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

